
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --bg-color: #000;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.about-content .a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 3.7rem;
    height: 3.7rem;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 35%;
    font-size: 2rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    outline: none;
    text-decoration: none;
    position: relative;
    left: 9px;
    top: -3.8px;
    }

.ico1 {
    position: relative;
    left: -0.5px;
}
    

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: 2px solid #252525;
   

}

.about img{
    width: 35vw;
    animation: floatImage2 4s ease-in-out infinite;
}


@keyframes floatImage2{
    0%{
        transform: translateY(0);

    }
    50%{
        transform: translateY(-2rem);
        
    } 
    
    100%{
        transform: translateY();
        
    }
  }


.about-content h2{
    text-align: left;
    font-size: 4.5rem;
    
}

.about-content h3{
    font-size: 2.1rem;
    position: relative;
    letter-spacing: 1px;
    opacity: 95%;

}

.about-content P{
    margin: 2rem 0 3rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 24px;
    opacity: 85%;
    font-weight : 400;
    margin-top: 10px;
}

span{
    color: var(--main-color);
    letter-spacing: 1px;
}



.btn{
display: inline-block;
padding: 1.3rem 2.8rem;
background: transparent;
border: 2px solid #0ef;
border-radius: 10px;
font-size: 1.6rem;
color: white;
letter-spacing: .1rem;
font-weight: 450;
transition: all 0.4s;
outline: none;
text-decoration: none;
}    


.btn:hover{
    border: 2px solid rgb(189, 188, 188);
    box-shadow: none;
    color: var(--main-color);
    outline: none;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 20%;
    background: #323946;
}

.footer-text p{
font-size: 1.8rem;
letter-spacing: 0.8px;
}

.footer-iconTop a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 3.1rem;
height: 3.1rem;
background-color: transparent;
border: 2.3px solid var(--main-color);
border-radius: .8rem;
outline: none;
}

.footer-iconTop a ion-icon{
font-size: 2.2rem;
color: white;
}


#web{
font-size: 3rem;
}

@media (max-width: 1200px){
   html{
    font-size: 55%;
   }
}

@media (max-width: 991px){
.header{
    padding: 2rem 3%;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}


.home-img img{
    
    margin-top: -5.5em;
    margin-left: -4.5rem;
}

.imgo{
    width: 15rem;
   
}
}

.footer{
    padding: 2rem 3%;
}


@media (max-width: 768px){
   

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 50vw;
        margin-top: 2rem;
    }


  
}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr
    }
}

@media (max-width: 450px){
    .html{
        font-size: 50%;
    
    }

}

@media (max-width: 365px){
    .home-img img{
        width: 65vw;
        margin-left: 1rem;
      
    }

    section{
        padding: 2.1rem;
    }


    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px){

    section{
        padding: 3rem;
    }

}








